<header>
    <div class="container">
      <a href="#" class="logo">Student Registration APP </a>
      <nav>
          <ul>
            <ng-container *ngIf="adminMenu">
              <li><a (click)="handleAdminStudent()">Admin Details</a></li>
            </ng-container>

            <ng-container *ngIf="userMenu">
              <li><a (click)="handleStudent()">User Details</a></li>
            </ng-container>
            
            <ng-container *ngIf="dashboardMenu">
            <li><a (click)="handleLogout()">Logout</a></li>
            </ng-container>
          </ul>
        
      </nav>
    </div>
  </header>
  